
        <div class="row">
          <div class="col-12">
            <form *ngIf="formBuilderGroup" [formGroup]="formBuilderGroup">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.name' | translate}}</mat-label>
                    <input formControlName="name" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.lastName' | translate}}</mat-label>
                    <input formControlName="lastName" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.phoneContacts' | translate}}</mat-label>
                    <input formControlName="phoneContacts" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.emails' | translate}}</mat-label>
                    <input formControlName="emails" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.comments' | translate}}</mat-label>
                    <input formControlName="comments" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
