@import '../../../../../sass-utils/mixins.scss';
@import '../../../../../sass-utils/variables.scss';
@import '../../../../../sass-utils/functions.scss';

.example-container {
  width: 250px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.customer-list {
  border: 1px dashed rgb(241, 234, 234);
  background: rgb(241, 234, 234);
  min-height: 60px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  display: block;
  margin-bottom: 11px;
  padding: 3px;
}

.customer-box {
  border-radius: 3px;
  margin: 2px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.total-business {
  font-size: 16px;
  color: lightgray;
  display: inline-block;
  margin-left: 3px;
}
.no-process {
  min-height: 320px;
}
.customer-action-area {
  border-top: 1px solid #c5cfe98a;
}
.customer-action-buttons button {
  height: 31px;
  width: 31px;
  // background: red;
}
.customer-action-buttons button mat-icon {
  font-size: 20px;
  // background: blue;
  margin-bottom: 5px;

}
.created-at-date {
  font-size: 11px;
}

.tiny-process-icons {
  font-size: 50px;

  // background: blue;
}