@import '../../../../../sass-utils/variables.scss';
@import '../../../../../sass-utils/mixins.scss';
@import '../../../../../sass-utils/functions.scss';
.company_logo_list_item {
  height: 63.9px;
}

.company_logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.child-options-indicator {
  font-size: 9px;
  height: 1px;
  width: 1px;
  padding-left: 2px;
  padding-bottom: 10px;
}
.menuLeft-icon-color {
  color:rgb(112, 112, 112);
}
