<div class="row">
  <div class="col-12">
    <mat-progress-bar mode="indeterminate" *ngIf="_loading"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <form *ngIf="formBuilderGroup" [formGroup]="formBuilderGroup">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.name' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="name"
                    />
                    <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.email' | translate}}</mat-label>
                    <input
                    type="email"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAEmail' | translate}}"
                    formControlName="email"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.managerName' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="managerName"
                    />
                    <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.legalRepresentative' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="legalRepresentative"
                    />
                    <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.postalCode' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterANumber' | translate}}"
                    formControlName="postalCode"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.suburb' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="suburb"
                    />
                    <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.street' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="street"
                    />
                    <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.locationReferences' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="locationReferences"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.socialReason' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="socialReason"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.fiscalAddress' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="fiscalAddress"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.usageCfdi' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="usageCfdi"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.rfc' | translate}}</mat-label>
                    <input
                    type="text"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="rfc"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'clients.form.fiscalEmail' | translate}}</mat-label>
                    <input
                    type="email"
                    autocomplete="off"
                    matInput="matInput"
                    placeholder="{{'form.instructions.enterAText' | translate}}"
                    formControlName="fiscalEmail"
                    />
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let contactNumber of contactNumbers; let i = index" >
                  <div class="d-flex justify-content-between">
                    <div class="custom-mat-form-field">
                      <mat-form-field appearance="legacy" class="custom-mat-form-field">
                        <mat-label>{{'clients.form.contactNumber' | translate}} {{i+1}}</mat-label>
                        <input
                        type="text"
                        autocomplete="off"
                        matInput="matInput"
                        placeholder="{{'form.instructions.enterAPhone' | translate}}"
                        value="{{contactNumbers[i]}}"
                        (keyup)="updateContactNumber($event, i)"
                        [disabled]="!_configuration.editable"
                        />
                        <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="p-2" *ngIf="(i+1) !== 1" [hidden]="!_configuration.editable">
                      <button mat-icon-button="mat-stroked-button" class="ml-1" 
                      matTooltip="{{'clients.form.tooltips.removeMorePhones' | translate}}"
                      [matTooltipPosition]="'after'" (click)="removeContactNumber(i)">
                        <mat-icon>
                          <span class="material-icons-outlined">
                            highlight_off
                          </span>
                        </mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3" [hidden]="!_configuration.editable">
                  <div class="p-2">
                    <button mat-raised-button
                    matTooltip="{{'clients.form.tooltips.addMorePhones' | translate}}"
                    [matTooltipPosition]="'after'" (click)="addContactNumber()">
                    {{'actions.add' | translate}}
                    </button>
                  </div>            
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="formBuilderGroup && _configuration.saveButton">
  <div class="col-12 mt-4">
    <button
    [disabled]="!formBuilderGroup.valid || _loading"
    class="text-white"
    mat-flat-button="mat-flat-button"
    (click)="submitForm()"
    color="primary">
    {{'form.save' | translate}}
    </button>
    <button
    class="cancel-button"
    mat-button="mat-button"
    (click)="cancelForm()"
    color="primary"
    [hidden]="!_data.id">
    {{'form.cancel' | translate}}
    </button>
  </div>
</div>


