<button class="float-right" mat-stroked-button color="primary" (click)="onClick()">
  <mat-icon>file_upload</mat-icon>
  {{'actions.upload' | translate}}
</button>

<div class="row">
  <div class="col-12">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let file of files" [@fadeInOut]="file.state">
        <!-- <mat-progress-bar [value]="file.progress"></mat-progress-bar> -->
        <br>
        <span id="file-label" class="cs-filename">
          <button mat-icon-button color="primary" title="Cancel"(click)="cancelFile(file)" *ngIf="file.canCancel">
            <mat-icon>cancel</mat-icon>
          </button>  
          {{file.data ? file.data.name ? file.data.name : 'N/A' : ''}}
          <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
            <mat-icon>refresh</mat-icon>
          </a>
        </span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<input
  type="file"
  id="fileUpload"
  name="fileUpload"
  multiple="multiple"
  accept="{{accept}}"
  style="display:none;"/>
