<div class="row">
  <div class="col-12">
    <div class="mat-elevation-z2">
      <mat-progress-bar mode="indeterminate" *ngIf="_loading"></mat-progress-bar>

      <table mat-table [dataSource]="dataSource" matSort class="full-width">        
        <ng-container *ngFor="let column of _columns" [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef class="text-center" [ngClass]="((column.text + ' '+ column.extra).toLowerCase() === todayString ? 'active-day' : '')"><span>{{column.text}}</span> <br> <span class="col-extra">{{column.extra ? column.extra : ''}}</span> </th>
          <td mat-cell *matCellDef="let row" class="text-center" [ngClass]="((column.text + ' '+ column.extra).toLowerCase() === todayString ? 'active-day' : '')">
            <div class="row">
              <div class="col-12">
                
                <span *ngIf="row[column.key] && !row[column.key].dateTime && !['restDay', 'workshift', 'hours'].includes(column.key)">
                  <a href="tel:{{row[column.key]}}" *ngIf="column.key==='phone' && row[column.key] !== 'N/A'">{{row[column.key]}}</a>
                  <span *ngIf="column.key!=='phone' || row[column.key] === 'N/A'">{{row[column.key]}}</span>
                </span>

                <button mat-button color="accent" *ngIf="['restDay', 'workshift', 'hours'].includes(column.key)" (click)="openDialog(column.key, row)" class="float-left">
                  <mat-icon>settings</mat-icon>
                  {{row[column.key] ? row[column.key] : ' -- ' }} {{ 'hours' === column.key && row[column.key] ? 'hrs' : ''}}
                </button>

                <button mat-icon-button class="m-1" color="accent" *ngIf="row[column.key] && row[column.key].dateTime && operationButton"
                (click)="setOperation({ employee: row, _function: 'operation', operation: row[column.key] })"
                matTooltip="{{row[column.key].text}}"
                [ngStyle]="{ 'background': row[column.key].operationColor ? row[column.key].operationColor.replace('0f', '40') : ''}"
                matBadge="{{row[column.key].operationComments ? '💬' : ''}}"
                matBadgeColor="primary" matBadgeSize="small">
                  <mat-icon class="font-size-18" [ngClass]="row[column.key].operation ? 'text-success' : ''" *ngIf="!row[column.key].operation">pending_actions</mat-icon>
                  <span>{{row[column.key].operation}}</span>
                  <!-- {{row[column.key].operationComments}} -->
                </button>
                <!-- row[column.key].operationConfirmComments -->
                <button mat-icon-button class="m-1" color="accent" *ngIf="row[column.key] && row[column.key].dateTime && operationConfirmButton" 
                matBadge="{{row[column.key].operationConfirmComments ? '💬' : ''}}"
                 matBadgeColor="warn" matBadgeSize="small"
                (click)="setOperation({ employee: row, _function: 'operationConfirm', operation: row[column.key] })"
                matTooltip="{{row[column.key].textConfirm}}"
                [ngStyle]="{ 'background': row[column.key].operationConfirmColor ? row[column.key].operationConfirmColor.replace('0f', '40') : ''}">
                  <mat-icon class="font-size-18" [ngClass]="row[column.key].operationConfirm ? 'text-success' : ''"  *ngIf="!row[column.key].operationConfirm">pending_actions</mat-icon>
                  <span>{{row[column.key].operationConfirm}}</span>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="white-space">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="7">   
            {{'operationBinnacle.info' | translate}}
          </th>
        </ng-container>

        <ng-container matColumnDef="dates">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="8">   
            {{datesInfo}}
          </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['white-space', 'dates']"></tr>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="15">
            {{'matTable.noRecords' | translate}}
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>    
  </div>
</div>
