<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 mb-4" *ngFor="let categoryPermission of permissionsByCategory; let i = index" >
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          {{ 'permissions.modules.' + categoryPermission.name | translate }}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list #options (selectionChange)="catchOptionsSelected($event, categoryPermission.name )">
          <mat-list-option *ngFor="let permission of categoryPermission.permissions; let i = index" value="{{permission.id}}" selected="{{permission.selected}}">
            {{permission.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>