<div class="row mat-elevation-z2">
  <div class="col-12">
      <table mat-table [dataSource]="dataSource" matSort class="mat-table-scroll">
        <ng-container *ngFor="let column of _columns" [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.text}} {{column.extra ? column.extra : ''}}</th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="accent" (click)="openDialog(column.key, row)" *ngIf="row.employeeId && ['saving','uniforms','advance','double','bonus','holiday','infonavit','fonacot','loan','nss'].includes(column.key)" class="float-left">
              <mat-icon class="tiny-icon">settings</mat-icon>
              <fixed-decimals-component [value]="(row[column.key] ? row[column.key] : 0)"></fixed-decimals-component>
            </button>
            <span *ngIf="!['saving','uniforms','advance','double','bonus','holiday','infonavit','fonacot','loan','nss'].includes(column.key)">



              <div *ngIf="!row[column.key + '_operation']">
                <ng-container *ngTemplateOutlet="common"></ng-container>
              </div>

              <div *ngIf="row[column.key + '_operation']">
                <button mat-icon-button class="m-1" color="accent"
                matTooltip="{{row[column.key].text}}"
                [ngStyle]="{ 'background': row[column.key + '_operationColor'] ? row[column.key + '_operationColor'].replace('0f', '40') : ''}">
                  <span><ng-container *ngTemplateOutlet="common"></ng-container></span>
                </button>
                
              </div>
              
              <ng-template #common>
                {{!['salary', 'absences', 'total'].includes(column.key) ? row[column.key] : ''}}
              </ng-template>


              <!-- {{row[column.key + '_operation'] ? 'operation' : ''}} -->


          



              <span  [ngClass]="(row[column.key] ? row[column.key] : 0) < 0 ? 'text-danger' : 'text-success'">
                <fixed-decimals-component *ngIf="['salary', 'absences', 'total'].includes(column.key)" [value]="(row[column.key] ? row[column.key] : 0)"></fixed-decimals-component>
              </span>
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="50">
            {{'matTable.noRecords' | translate}}
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
