<div class="row">
  <div class="col-12">
    <mat-progress-bar mode="indeterminate" *ngIf="_loading"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <form *ngIf="formBuilderGroup" [formGroup]="formBuilderGroup">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'client.keycode' | translate}}</mat-label>
                    <input formControlName="keycode" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'client.rfc' | translate}}</mat-label>
                    <input formControlName="rfc" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'client.businessName' | translate}}</mat-label>
                    <input formControlName="businessName" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'client.businessReason' | translate}}</mat-label>
                    <input formControlName="businessReason" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'client.company' | translate}}</mat-label>
                    <mat-select formControlName="companyId">
                      <mat-option *ngFor="let company of _companies; let i = index" [value]="company.id">{{company.name}}</mat-option>
                    </mat-select>
                    <mat-hint>{{'form.instructions.selectAnOption' | translate}} {{'form.validations.required' | translate}}</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="formBuilderGroup">
  <div class="col-12 mt-4">
    <button
    [disabled]="!formBuilderGroup.valid || _loading"
    class="text-white"
    mat-flat-button="mat-flat-button"
    (click)="submitForm()"
    color="primary">
    {{'form.save' | translate}}
    </button>
    <button
    class="cancel-button"
    mat-button="mat-button"
    (click)="cancelForm()"
    color="primary"
    [hidden]="!_data.id">
    {{'form.cancel' | translate}}
    </button>
  </div>
</div>
