<div class="row">
  <div class="col-12">
    <mat-progress-bar mode="indeterminate" *ngIf="_loading"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <form *ngIf="formBuilderGroup" [formGroup]="formBuilderGroup">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'employee.keycode' | translate}}</mat-label>
                    <input formControlName="keycode" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.required' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <div class="row d-flex justify-content-between pt-4">
                    <div class="col-12">
                      <h2>{{ 'employee.data' | translate }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.name' | translate}}</mat-label>
                    <input formControlName="contactName" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.lastName' | translate}}</mat-label>
                    <input formControlName="contactLastName" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.phoneContacts' | translate}}</mat-label>
                    <input formControlName="contactPhoneContacts" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'person.emails' | translate}}</mat-label>
                    <input formControlName="contactEmails" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <div class="row d-flex justify-content-between pt-4">
                    <div class="col-12">
                      <h2>{{ 'employee.configuration' | translate }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'employee.company' | translate}}</mat-label>
                    <mat-select formControlName="companyId" (selectionChange)="updateClientsForCompany($event)">
                      <mat-option *ngFor="let company of _companies; let i = index" [value]="company.id">{{company.name}}</mat-option>
                    </mat-select>
                    <mat-hint>{{'form.instructions.selectAnOption' | translate}}, {{'form.validations.required' | translate}}</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'employee.client' | translate}}</mat-label>
                    <mat-select formControlName="clientId" (selectionChange)="updatePositionsForClient($event)">
                      <!-- <mat-option [value]="null">{{'employee.withoutClient' | translate}}</mat-option> -->
                      <mat-option *ngFor="let client of clientsForCompany; let i = index" [value]="client.id">{{client.businessName}}</mat-option>
                    </mat-select>
                    <mat-hint>{{'form.instructions.selectAnOption' | translate}}, {{'form.validations.optional' | translate}}</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'employee.position' | translate}}</mat-label>
                    <mat-select formControlName="positionId">
                      <!-- <mat-option [value]="null">{{'employee.withoutPosition' | translate}}</mat-option> -->
                      <mat-option *ngFor="let position of positionsForClient; let i = index" [value]="position.id">{{position.name}}</mat-option>
                    </mat-select>
                    <mat-hint>{{'form.instructions.selectAnOption' | translate}}, {{'form.validations.optional' | translate}}</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <div class="row d-flex justify-content-between pt-4">
                    <div class="col-12">
                      <h2>{{ 'employee.operation' | translate }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'employee.hiringDate' | translate}}</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="hiringDate" formControlName="hiringDate">
                    <mat-datepicker-toggle matSuffix [for]="hiringDate"></mat-datepicker-toggle>
                    <mat-datepicker #hiringDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'employee.startOperationDate' | translate}}</mat-label>
                    <input matInput autocomplete="off" [matDatepicker]="startOperationDate" formControlName="startOperationDate">
                    <mat-datepicker-toggle matSuffix [for]="startOperationDate"></mat-datepicker-toggle>
                    <mat-datepicker #startOperationDate></mat-datepicker>
                  </mat-form-field>
                </div>
  
                <div class="col-12">
                  <div class="row d-flex justify-content-between pt-4">
                    <div class="col-12">
                      <h2>{{ 'employee.address' | translate }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.name' | translate}}</mat-label>
                    <input formControlName="name" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.street' | translate}}</mat-label>
                    <input formControlName="street" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.exteriorNumber' | translate}}</mat-label>
                    <input formControlName="exteriorNumber" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.interiorNumber' | translate}}</mat-label>
                    <input formControlName="interiorNumber" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.neightborhood' | translate}}</mat-label>
                    <input formControlName="neightborhood" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.city' | translate}}</mat-label>
                    <input formControlName="city" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.state' | translate}}</mat-label>
                    <input formControlName="state" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.country' | translate}}</mat-label>
                    <input formControlName="country" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                  <mat-form-field appearance="legacy" class="custom-mat-form-field">
                    <mat-label>{{'address.postalCode' | translate}}</mat-label>
                    <input formControlName="postalCode" placeholder="{{'form.instructions.enterAText' | translate}}" type="text" autocomplete="off" matInput="matInput"/>
                    <mat-hint>{{'form.validations.optional' | translate}} </mat-hint>
                  </mat-form-field>
                </div>       
              </div>
            </form>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="formBuilderGroup">
  <div class="col-12 mt-4">
    <button
    [disabled]="!formBuilderGroup.valid || _loading"
    class="text-white"
    mat-flat-button="mat-flat-button"
    (click)="submitForm()"
    color="primary">
    {{'form.save' | translate}}
    </button>
    <button
    class="cancel-button"
    mat-button="mat-button"
    (click)="cancelForm()"
    color="primary"
    [hidden]="!_data.id">
    {{'form.cancel' | translate}}
    </button>
  </div>
</div>
