<div class="row">
  <div class="col-12">
    <div class="mat-elevation-z1">
      <table mat-table [dataSource]="dataSource" matSort class="full-width">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'filesViewGrid.name' | translate}} </th>
          <td mat-cell *matCellDef="let row">
            <span matTooltip="{{row.name}}">
              {{row.name}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'filesViewGrid.date' | translate}} </th>
          <td mat-cell *matCellDef="let row"> {{row.date}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> {{'general.actions' | translate}} </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="accent" matTooltip="{{'actions.download' | translate}}" (click)="download(row.externalName)">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="{{'actions.view' | translate}}" (click)="view(row.externalName)">
              <mat-icon class="cs-material-icons material-icons mat-icon-no-color" [fontSet]="'fa'" [fontIcon]="'fa-eye'"></mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="{{'actions.delete' | translate}}" (click)="delete(row)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="_columns"></tr>
        <tr mat-row *matRowDef="let row; columns: _columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="3">
            {{'matTable.noRecords' | translate}}
          </td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>    
  </div>
</div>
