
<div class="row align-items-center d-flex sidenav_container not-found-container">
  <div class="col-4 offset-4 ">
    <div class="row">
      <div class="col-2">
        <img class="img-fluid" alt="" src="../../../../assets/img/logo.png" height="60">
      </div>
      <div class="col-10">
        <h1 class="font-weight-semibold display-1 text-primary pt-3 pl-4">404</h1>
        <h2 class="font-weight-light font-size-30">¡Oops! Parece que aquí no hay nada.</h2>
        <p class="lead m-b-30">No pudimos encontrar el recurso que buscaste.</p>
        <button color="primary" class="text-white custom-mat-form-field" mat-flat-button="mat-flat-button" nzSize="large" (click)="goBack()" nz-button nzType="primary" nzGhost>Regresar</button>
      </div>
      <div class="col-md-6 m-l-auto">
          <!-- <img class="img-fluid" src="assets/images/others/error-1.png" alt=""> -->
      </div>
    </div>
  </div>
</div>
