@import '../../../../sass-utils/variables.scss';
@import '../../../../sass-utils/mixins.scss';
@import '../../../../sass-utils/functions.scss';

.mat-card {
  margin-bottom: 0px;
}

.title {
  text-align: center;
  color: get-color-scale("primary", 100);
  font-size: get-scale-size(24);
}

.message {
  text-align: center;
  color: get-color-scale("dark", 60);
  font-size: get-scale-size(18);
}

.not-found-container {
  margin-top: 100px;
}

