<h1 mat-dialog-title>{{_data.title}} </h1>
<div mat-dialog-content>
  <p>{{_data.info}}</p>
  <form *ngIf="formBuilderGroup" [formGroup]="formBuilderGroup">
    <mat-form-field appearance="legacy" class="custom-mat-form-field">
      <mat-label>{{_data.inputName}}</mat-label>
      <input
      type="{{_data.type}}"
      autocomplete="off"
      matInput="matInput"
      placeholder="{{_data.instructions}}"
      formControlName="inputValue"
      />
      <!-- <button mat-button *ngIf="datetimeString" matSuffix mat-icon-button aria-label="Clear" (click)="datetimeString=''">
        <mat-icon>close</mat-icon>
      </button> -->


      <mat-hint>{{(_data.required ? 'form.validations.required' : 'form.validations.optional') | translate }} </mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <a [ngSwitch]="button.matType" *ngFor="let button of _data.aditionalButtons">
    <button mat-fab *ngSwitchCase="'mat-fab'" [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
    <button mat-mini-fab *ngSwitchCase="'mat-mini-fab'" [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
    <button mat-icon-button *ngSwitchCase="'mat-icon-button'" [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
    <button mat-icon-button  *ngSwitchCase="'mat-icon-button '" [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
    <button mat-flat-button *ngSwitchCase="'mat-flat-button'" [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
    <button mat-stroked-button *ngSwitchCase="'mat-stroked-button'" [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
    <button mat-raised-button *ngSwitchCase="'mat-raised-button'" [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
    <button mat-button *ngSwitchDefault [color]="button.color ? button.color : 'primary'" (click)="aditionalButtonAction(button.action)">
      {{button.name}}
    </button>
  </a>
  <button mat-button (click)="onNoClick()">{{'actions.cancel' | translate}}</button>
  <button mat-button cdkFocusInitial (click)="submit()" [disabled]="!formBuilderGroup.valid">{{'actions.accept' | translate}}</button>
</div>
