// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-crm-primary: mat-palette($mat-blue, 500);
$web-crm-accent: mat-palette($mat-pink, A200, A100, A400);
$web-crm-info: mat-palette($mat-blue, A400);

// The warn palette is optional (defaults to red).
$web-crm-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-crm-theme: mat-light-theme((
  color: (
    primary: $web-crm-primary,
    accent: $web-crm-accent,
    warn: $web-crm-warn,
    info: $web-crm-info
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-crm-theme);

$md-brand: (
  50 : #E3E7F2,
  100 : #B9C4DF,
  200 : #8B9DC9,
  300 : #5D75B3,
  400 : #3A58A3,
  500 : #173A93,
  600 : #14348B,
  700 : #112C80,
  800 : #0D2576,
  900 : #071864,
  A100 : #96A4FF,
  A200 : #6378FF,
  A400 : #304BFF,
  A700 : #1635FF,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000
  )
);

$md-accent: (
  50 : #E3E7F2,
  100 : #B9C4DF,
  200 : #8B9DC9,
  300 : #5D75B3,
  400 : #3A58A3,
  500 : #173A93,
  600 : #14348B,
  700 : #112C80,
  800 : #0D2576,
  900 : #071864,
  A100 : #96A4FF,
  A200 : #6378FF,
  A400 : #304BFF,
  A700 : #1635FF,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$crm-app-primary: mat-palette($md-brand);
$crm-app-accent:  mat-palette($md-accent);

$crm-app-theme: mat-light-theme($crm-app-primary, $crm-app-accent);

@include angular-material-theme($crm-app-theme);

.light-theme {
  @include angular-material-theme($crm-app-theme);
}
